#hero {
  display: flex;
  font-size: 1.2em;
}
#hero-main {
  display: flex;
  flex-direction: column;
  flex: 60%;
  order: 1;
}
#hero-intro {
    margin: 10% 7% 0;
}
#hero-main h1 {
    margin: 3% 7%;
    font-size: 2.5em;
}
#hero-main p {
    margin: 0 7%;
    font-size: 1.3em;
    color: #505050;
    width: 70%;
}
#cta {
    /* Call to Action */
    margin: 4% 7%;
}
#cta-background {
    background-color: #202f36;
    padding: .2em .3em;
    border-radius: 5px;
}
#cta-link {
  text-decoration: none;
  display: inline-block;
  margin: 2% 0;
  /* little background hack for cross-browser support */
  background: linear-gradient(45deg, rgb(161, 156, 153), yellow, red);
  color: transparent;
  background-clip: text;
}
#hero-side {
  order: 2;
  flex: 40%;
  display: flex; /* Center image */
  align-items: center;
  justify-content: center;
}
#hero-side img {
  margin: 10% auto;
  max-width: 80%;
  border-radius: 50%; /* round image */
}
#skills {
    margin: 3% 3%;
}
.container {
    font-size: 1.2em;
}

/* Animations */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all .5s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* really wide screens (1080p+)*/
@media only screen and (min-width: 1080px) {
    #hero {
        font-size: 1.4em;
        margin: 0px 5%;
    }
}

/* narrow screens, condensed header layout */
@media only screen and (max-width: 750px) {
    #hero {
        font-size: 1em;
    }
    #hero-main p {
        width: 85%;
    }
}

/* really narrow screens, actual mobile layout */
@media only screen and (max-width: 500px) {
    #hero {
        display: inline-block;
        flex-direction: column;
    }
    #hero-side img {
        margin: 3% auto;
        height: 50vw;
    }
}

@media only screen and (max-width: 400px) {
    #hero {
        font-size: 0.9em;
    }
}